<!--
  footer.ejs
  Footer partial for the Focal Point gallery site.
  Can include branding or copyright.
-->
<footer>
    <!-- <a href="https://github.com/colehammond65/Focal-Point" target="_blank" rel="noopener">
        Powered by Focal Point
    </a> -->
</footer>