<header>
    <h1><a href="/" style="color:inherit;text-decoration:none;">Anne's Photography</a></h1>
    <% if (typeof showAdminNav !=='undefined' && showAdminNav) { %>
        <nav>
            <a href="/">Home</a>
            <a href="/admin">Admin</a>
            <a href="/logout">Logout</a>
        </nav>
        <% } %>
</header>